/* MapComponent.css */
body {
  overflow: hidden;
  background-color: #181b1f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  background-color: #222; /* Dark background for the map */
}



.custom-boundary {
  color: pink; /* Pink color for boundaries */
}
