/* SlidingPanel.css */
.sliding-panel {
    position: fixed;
    top: 7%;
    right: 0;
    width: 80%; /* Use a percentage for responsiveness */
    max-width: 500px; /* Set a max width */
    height: 100%;
    background: #f9f9f9;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}
.panel-location {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping if needed */
    gap: 5px; /* Space between locations */
}

.sliding-panel.show {
    transform: translateX(0);
}

.panel-content {
    display: flex;
    flex-direction: column; 
    height: 100%;
    overflow: hidden; /* Hide overflow for the entire panel */
}

.popup-image {
    position: relative;
    height: 36vh; /* Adjust to fit the desired height */
    width: 100%; /* Full width of the panel */
    overflow: hidden; /* Hide overflow */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-image img {
    position: absolute; /* Position absolutely within the container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    width: auto; /* Set width to auto */
    height: 100%; /* Full height of the container */
    transform: translate(-50%, -50%); /* Center the image */
    object-fit: contain; /* Ensure the entire image is visible without cropping */
}

ul {
    display: flex;            /* Use flexbox for horizontal alignment */
    padding: 0;              /* Remove default padding */
    list-style-type: none;   /* Remove bullet points */
}

li {
    display: flex;           /* Use flex for each item to align circle and text */
    flex-direction: column;  /* Stack circle and text vertically */
    align-items: center;     /* Center items horizontally */
    margin-right: 80px;      /* Increase space between each item (change this value) */
}

.node-detail {
    margin-bottom: 10px; 
    display: block; 
    text-align: left;
    justify-content: left;
}

.circle {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 5px; /* Space between circle and text */
    border: 1px solid black; /* Add black border */
}

.full {
    background-color: red;
}

.half {
    background: linear-gradient(to top, blue 50%, white 50%);
}

.overlay-text {
    position: absolute;
    top: 10%; /* Position at the bottom */
    left: 0;
    right: 0;
    background: rgba(251, 251, 251, 0.8); /* Semi-transparent background */
    color: black;
    padding: 5px;
    text-align: center;
}

/* Remove overflow for popup data section */
.popup-data {
    flex: 2;
    padding: 10px;
    background: #f9f9f9; /* Background color for data */
    margin: 0;
    max-height: 35vh;  /* Set a max height */
}

.image-nav {
    position: absolute;
    bottom: 5%; /* Adjust to position arrows */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between; 
    padding: 0 10px;
}
.analytics-btn-container {
  margin-top: 10px; /* Adjust margin to place the button below the image */
}
.nav-btn {
    background: #31363f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
}

.nav-btn:hover {
    background: #4a4a4a;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px; 
    background: #c91f33;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px; 
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
}

.close-btn:hover {
    background: #e70707;
}

.separator-line {
    border: none;
    border-top: 5px solid #afb0b4; 
    margin: 0; 
}

.line-graph-container {
    height: 28vh; 
    width: 100%;
    overflow: hidden; 
    margin: 0;
}

.line-graph {
    width: 100% !important; 
    height: 100% !important; 
    margin: 0; 
}

.line-graph-btn {
    position: relative; /* Remove absolute positioning */
    display: block; /* Makes the button take up full width */
    width: 100%; /* Makes the button span the full width of the container */
    max-width: 600px; /* Optional: restricts the maximum width */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Centers the text */
    margin: 10px auto; /* Centers the button horizontally */
  }
  
  
  .line-graph-btn:hover {
    background-color: #0056b3;
  }

.panel-content {
    display: flex;
    flex-direction: column; 
    height: 100%; 
    overflow: hidden; 
}

.panel-location{
    text-align: left;
}