/* SlidingPanel.css */
.sliding-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px; /* Adjust width as needed */
    height: 100%;
    background: #fff;
    overflow: auto;
    z-index: 1000; /* Ensure it's above the map but doesn't cover critical markers */
  }
  
  
  .sliding-panel.show {
    transform: translateX(0);
  }
  
  .panel-content {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: row; /* Adjust layout direction */
  }
  
  .popup-image {
    position: relative;
    width: 50%; /* Adjust width as needed */
  }
  
  .popup-data {
    width: 50%; /* Adjust width as needed */
    padding-left: 20px;
  }
  
  .overlay-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
  }
  
  .image-nav .nav-btn {
    background: #31363f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #31363f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .close-btn:hover {
    background: #4a4a4a;
  }
  